/* ViewTicket.css */
.ticket-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-loading-message {
    margin-bottom: 20px;
    text-align: center;
}

.ticket-details {
    margin-bottom: 20px;
}

.comment-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.dropdown-container {
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

label {
    margin-right: 10px;
}

textarea {
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
    width: calc(100% - 18px);
    max-height: 350px;
}

.reject-button {
    background-color:red;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.comment-message {
    margin-top: 10px;
}

.edit {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
}
